/*
* Title: Wolff-card-game.css
* Author: Patrick Wolff
* Date: 15 April 2022
* Description: CSS Styling for wolff-card-game.html
*/

#shuffled-results {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    
    grid-gap: 10px 10px;
  }
  
  .player-card {
    text-align: center;
  }
  
  .card {
    margin-right: auto;
    margin-left: auto;
  }